body {
    background-color: rgba(222, 184, 135, 0.674); 
    }
h5 {font-style: italic;
}
body {font-family: "Spectral", 'Times New Roman', Times, serif; font-weight: lighter;
} 
h2 {text-align: center;
}
ol, li {line-height: 2;
}
a:hover {text-decoration: none;
}
.Section1 
{margin-top: 30px;
margin-bottom: 30px;
border: 5px solid green;
padding: 1px;
background-color: antiquewhite; 
}
#titledogs {
    background-color: antiquewhite;
    border-bottom: 5px inset black;    
}
img {width: 300px;
height: 200px;
}
.gallery {
 border: 5px solid black;
 display:flex;
   flex-wrap: wrap; 
   gap: 10px;
   justify-content: center;
   align-items: center;
}
header{
background-image: url("Images/WIN_20241106_00_32_08_Pro.jpg");
max-width: 100%;
max-height:200%;
background-size: contain;
background-repeat: no-repeat;
}
h1{
height: 150px;
font-size: 80px;
text-align:center;
font-family: Arial, Helvetica, sans-serif;
padding-top: 100px;
color:black;
border: 5px solid black;
}
#learned{
    background-color: antiquewhite;
    border-bottom: 5px solid black;
}